.posts {
    display: flex;
    flex-direction: column;
}

.post {
    background-color: #f9f9f9;
    padding: 20px;
    margin-bottom: 10px;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}


/* author info */
.post-author-details-link {
    text-decoration: none;

}

.post-author-info {
    display: flex;
    align-items: center;
}

.post-author-avatar {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 10px;
}

.post-author-details {
    display: flex;
    flex-direction: column;
}

/* author name */
.post h4 {
    margin: 15px 0 0;
    color: #333333;
}

/* author tag */
.post p {
    margin: 0 0 10px;
    color: #666666;
}


/* container with post time, delete, edit buttons */
.meta-container {
    display: flex;
    align-items: center;
    margin-left: auto;
}

.post-time {
    font-size: 12px;
    color: #888;
    margin-left: 4px;
}

.delete-post-button, .edit-post-button, .repost-post-button {
    font-size: 0.9rem;
    margin-left: 1px;
    cursor: pointer;
    background-color: transparent;
    border: none;
    color: #ccc;
}

.delete-post-button:hover, .edit-post-button:hover, .repost-post-button {
    color: #bbb;
}

/* post body */
.post-text {

}

/* files in post body */
.files-container {
    display: grid;
    gap: 3px;
    border-radius: 10px;
    overflow: hidden;
    align-items: stretch;
    margin: 0 auto;
    max-width: 70%;
}

.files-container.one-file {
    grid-template-columns: 1fr;
}

.files-container.two-files {
    grid-template-columns: 1fr 1fr;
}

.files-container.three-files {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
}

.files-container.three-files > :first-child {
    grid-column: 1 / 2;
    grid-row: 1 / 3;
    align-self: stretch;
}

.files-container.four-files {
    grid-template-columns: 1fr 1fr;
}

.files-container.five-files {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
}

.files-container.five-files > :first-child {
    grid-column: 1 / 2;
    grid-row: span 2;
    align-self: stretch;
}

.files-container.five-files > :nth-child(n+2) {
    grid-column: span 1;
    grid-row: span 1;
}

.files-container.six-files {
    grid-template-columns: 1fr 1fr 1fr;
}

.files-container img,
.files-container video,
.files-container span {
    max-width: 100%;
    max-height: 100%;
    object-fit: cover;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

.files-container img {
    cursor: pointer;
}

.default-files-container {
    margin: 10px auto 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.default-files, .default-download-icons {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.default-files > * {
    width: 100%;
    box-sizing: border-box;
    max-width: 100%;
    flex-shrink: 1;
}

.download-icon {
    cursor: pointer;
    font-size: 1rem;
    width: 100%;
    box-sizing: border-box;
    max-width: 100%;
    flex-shrink: 1;
}

.download-icon:hover {
    color: #0b6c0f;
}

.default-files-container span {
    text-decoration: none !important;
    color: #1b527e;
}

.default-files-container span:hover {
    color: #6a6ae3;
}

.post-author-name {
    margin: 0;
    color: #333333;
}

.post-author-tag {
    margin: 0;
    color: #666666;
    font-size: 14px;
}