.user-info-list {
    display: flex;
    align-items: center;
    padding: 20px;
}

.user-item-list {
    display: flex;
    align-items: center;
    padding: 5px;
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    margin-bottom: 10px;
}

.user-link-list {
    text-decoration: none;
    color: inherit;
    display: flex;
    align-items: center;
}

.user-avatar-list {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 10px;
    padding-left: 20px;
    cursor: pointer;
}

.user-info-list {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    flex: 1;
}

.user-username-list {
    margin: 0;
    color: #333;
    font-size: 18px;
}

.user-tag-list {
    margin: 0;
    color: #666;
    font-size: 14px;
    padding-left: 0;
}

.user-username-list, .user-tag-list {
    cursor: pointer;
}