<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="icon" type="image/x-icon" href="/img/ico.png">
    <link rel="stylesheet" href="/css/home.css">
    <link href="https://fonts.googleapis.com/css2?family=Merriweather:wght@400;700&display=swap" rel="stylesheet">
</head>

<body>
<div class="container">
    <div class="sidebar-left">
        <div class="user-info">
            <img id="userPhoto" src="/img/user.png" alt="User Icon">
            <div id="loadingOverlay" class="loading-overlay">
                <div class="loader"></div>
            </div>
            <div class="user-details">
                <h3>loading...</h3>
                <p>loading...</p>
            </div>
        </div>
        <ul>
            <li><a href="/home">Home</a></li>
            <li><a href="#" id="profileLink">Profile</a></li>
            <li><a href="/messages">Messages</a></li>
            <li><a href="/settings">Settings</a></li>
            <li><a id="logout" href="/logout">Logout</a></li>
        </ul>
    </div>
    <div class="main-content">
        <div class="post-box">
            <textarea id="postText" placeholder="What's happening?"></textarea>
            <input type="file" id="fileInput" multiple style="display:none;">
            <label for="fileInput" class="attachment-icon">&#128206;</label>
            <button id="postButton">Tweet</button>
        </div>
        <div class="posts">
        </div>
    </div>
    <div class="sidebar-right">
        <h2>Following</h2>
        <ul id="followingList">
        </ul>
    </div>
</div>
<script type="module" src="/js/home.js"></script> <!-- Подключение JavaScript -->
</body>
</html>
