<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User List</title>
    <link rel="icon" type="image/x-icon" href="/img/ico.png">
    <link rel="stylesheet" href="/css/userList.css">
    <link rel="stylesheet" href="/css/base/main.css">
    <link rel="stylesheet" href="/css/base/sidebars.css">
    <link rel="stylesheet" href="/css/base/leftBarUserProfile.css">
    <link rel="stylesheet" href="/css/base/search.css">
    <link href="https://fonts.googleapis.com/css2?family=Merriweather:wght@400;700&display=swap" rel="stylesheet">
</head>
<body>

<div id="loadingIndicator" class="loading-indicator">
    <img src="/img/tweter.png" alt="Loading...">
</div>

<div class="container">
    <div class="sidebar-left">
        <div class="user-info">
            <img id="userPhoto" src="/img/user.png" alt="User Icon">
            <div class="user-details">
                <h3>Loading...</h3>
                <p>Loading...</p>
            </div>
        </div>
        <ul>
            <li><a href="/home">Home</a></li>
            <li><a href="#" id="profileLink">Profile</a></li>
            <li><a href="/messages">Messages</a></li>
            <li><a href="/settings">Settings</a></li>
            <li><a id="logout" href="/logout">Logout</a></li>
        </ul>
    </div>
    <div class="main-content">
        <div id="userListContainer">
        </div>
    </div>
    <div class="sidebar-right">
        <div class="search-container">
            <input type="text" id="searchInput" placeholder="Search users...">
            <ul id="searchResults" class="search-results"></ul>
        </div>
        <h2>Following</h2>
        <ul id="followingList">
        </ul>
    </div>
</div>
<script type="module" src="/js/userList.js"></script>
</body>
</html>
